


*{
  
  font-family: 'Roboto', sans-serif;
  background-color: beige;
}

.txt{
align-self: center;
  height: 50px;
width: 75px;
border-color: blueviolet;
}
.button2{
  background: none;
    border: 1px solid green;
    font-size: 23px;
    padding: 10px 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.button3{
  height: 50px;
  width: 75px;
  border-color: red;
}
.button{

  height: 50px;
  width: 75px;
  border-color:yellow;
}

#up-arrow,#down-arrow{
  width: 100px;
  height: 100px;
}
#total-count{
  font-weight: 900;
  font-size: 70px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}