


*{
  
  font-family: 'Roboto', sans-serif;
  background-color: beige;
}

.txt{
align-self: center;
  height: 50px;
width: 75px;
border-color: blueviolet;
}
.button2{
  background: none;
    border: 1px solid green;
    font-size: 23px;
    padding: 10px 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.button3{
  background: none;
    border: 1px solid red;
    font-size: 23px;
    padding: 10px 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.button{

  background: none;
    border: 1px solid blue;
    font-size: 23px;
    padding: 10px 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.buttonRed{
  background: none;
    border: 1px solid teal;
    font-size: 23px;
    padding: 10px 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn{
  background: none;
  border: 1px solid olive;
  font-size: 12.5px;
  padding: 5px 10px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 5px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}
#up-arrow,#down-arrow{
  width: 100px;
  height: 100px;
}
#total-count{
  font-weight: 900;
  font-size: 70px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}